In [24]:
#imports

import pandas as pd
import yfinance as yf
!pip install pandas_ta
import pandas_ta as ta

Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 6.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_ta) (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->pandas_ta) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->pandas_ta) (1.23.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.16.0)
Building wheels for collected packages: pandas_ta
  Building wheel for pandas_ta (setup.py) ... done
  Created wheel for pandas_ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=8920840fdef0d5a2cb6cf815ebf7237f70a1abe234a78c44fc23c7a7efc1d17f
  Stored in directory: /Users/bernardomachado/Library/Caches/pip/wheels/69/00/ac/f7fa862c34b0e2ef320175100c233377b4c558944f12474cf0
Successfully built pandas_ta
Installing collected packages: pandas_ta
Successfully installed pandas_ta-0.3.14b0

In [18]:
# download assets data
tesla = yf.download('TSLA', start='2016-01-01', end='2018-12-31') #Tesla
spy = yf.download('SPY', start="2016-01-01", end="2018-12-31", interval='1d') #S&P500 ETF

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [21]:
tesla

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04 00:00:00-05:00,15.381333,15.425333,14.600000,14.894000,14.894000,102406500
2016-01-05 00:00:00-05:00,15.090667,15.126000,14.666667,14.895333,14.895333,47802000
2016-01-06 00:00:00-05:00,14.666667,14.670000,14.398667,14.602667,14.602667,56686500
2016-01-07 00:00:00-05:00,14.279333,14.562667,14.244667,14.376667,14.376667,53314500
2016-01-08 00:00:00-05:00,14.524000,14.696000,14.051333,14.066667,14.066667,54421500
...,...,...,...,...,...,...
2018-12-21 00:00:00-05:00,21.160000,21.564667,20.829332,21.318001,21.318001,120252000
2018-12-24 00:00:00-05:00,20.900000,20.966667,19.680000,19.692667,19.692667,83398500
2018-12-26 00:00:00-05:00,20.000000,21.798000,19.606001,21.739332,21.739332,122446500
2018-12-27 00:00:00-05:00,21.322666,21.478001,20.100000,21.075333,21.075333,128626500
2018-12-28 00:00:00-05:00,21.540001,22.416000,21.227333,22.257999,22.257999,149085000

In [22]:
spy

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04 00:00:00-05:00,200.490005,201.029999,198.589996,201.020004,176.563538,222353500
2016-01-05 00:00:00-05:00,201.399994,201.899994,200.050003,201.360001,176.862198,110845800
2016-01-06 00:00:00-05:00,198.339996,200.059998,197.600006,198.820007,174.631210,152112600
2016-01-07 00:00:00-05:00,195.330002,197.440002,193.589996,194.050003,170.441498,213436100
2016-01-08 00:00:00-05:00,195.190002,195.850006,191.580002,191.919998,168.570633,209817200
...,...,...,...,...,...,...
2018-12-21 00:00:00-05:00,246.740005,249.710007,239.979996,240.699997,224.336197,255345600
2018-12-24 00:00:00-05:00,239.039993,240.839996,234.270004,234.339996,218.408585,147311600
2018-12-26 00:00:00-05:00,235.970001,246.179993,233.759995,246.179993,229.443634,218485400
2018-12-27 00:00:00-05:00,242.570007,248.289993,238.960007,248.070007,231.205170,186267300
2018-12-28 00:00:00-05:00,249.580002,251.399994,246.449997,247.750000,230.906906,153100200

### Strategy A

Use Bollinger bands

When high is above the upper line and the close is below the upper line short sell

When low is below the lower line and the close is above the lower line go long

In [27]:
spy['bbands'] = spy.Close.ta.bbands()

AttributeError: 'Series' object has no attribute 'ta'