In [39]:
#imports

import pandas as pd
import yfinance as yf
!pip install pandas_ta
import pandas_ta as ta
import plotly.graph_objects as go
from datetime import datetime, date

Requirement already satisfied: pandas_ta in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.3.14b0)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_ta) (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->pandas_ta) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->pandas_ta) (1.23.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.16.0)

In [2]:
# download assets data
tesla = yf.download('TSLA', start='2016-01-01', end='2018-12-31') #Tesla
spy = yf.download('SPY', start="2016-01-01", end="2018-12-31", interval='1d') #S&P500 ETF

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
tesla

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04 00:00:00-05:00,15.381333,15.425333,14.600000,14.894000,14.894000,102406500
2016-01-05 00:00:00-05:00,15.090667,15.126000,14.666667,14.895333,14.895333,47802000
2016-01-06 00:00:00-05:00,14.666667,14.670000,14.398667,14.602667,14.602667,56686500
2016-01-07 00:00:00-05:00,14.279333,14.562667,14.244667,14.376667,14.376667,53314500
2016-01-08 00:00:00-05:00,14.524000,14.696000,14.051333,14.066667,14.066667,54421500
...,...,...,...,...,...,...
2018-12-21 00:00:00-05:00,21.160000,21.564667,20.829332,21.318001,21.318001,120252000
2018-12-24 00:00:00-05:00,20.900000,20.966667,19.680000,19.692667,19.692667,83398500
2018-12-26 00:00:00-05:00,20.000000,21.798000,19.606001,21.739332,21.739332,122446500
2018-12-27 00:00:00-05:00,21.322666,21.478001,20.100000,21.075333,21.075333,128626500
2018-12-28 00:00:00-05:00,21.540001,22.416000,21.227333,22.257999,22.257999,149085000

In [4]:
spy

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04 00:00:00-05:00,200.490005,201.029999,198.589996,201.020004,176.563568,222353500
2016-01-05 00:00:00-05:00,201.399994,201.899994,200.050003,201.360001,176.862183,110845800
2016-01-06 00:00:00-05:00,198.339996,200.059998,197.600006,198.820007,174.631210,152112600
2016-01-07 00:00:00-05:00,195.330002,197.440002,193.589996,194.050003,170.441528,213436100
2016-01-08 00:00:00-05:00,195.190002,195.850006,191.580002,191.919998,168.570663,209817200
...,...,...,...,...,...,...
2018-12-21 00:00:00-05:00,246.740005,249.710007,239.979996,240.699997,224.336182,255345600
2018-12-24 00:00:00-05:00,239.039993,240.839996,234.270004,234.339996,218.408600,147311600
2018-12-26 00:00:00-05:00,235.970001,246.179993,233.759995,246.179993,229.443680,218485400
2018-12-27 00:00:00-05:00,242.570007,248.289993,238.960007,248.070007,231.205185,186267300
2018-12-28 00:00:00-05:00,249.580002,251.399994,246.449997,247.750000,230.906906,153100200

### Strategy A

Use Bollinger bands

When high is above the upper line and the close is below the upper line short sell

When low is below the lower line and the close is above the lower line go long

In [5]:
#calculate bollinger bands and append to data set
spy.ta.bbands(append=True)
spy.tail(10)

,Open,High,Low,Close,Adj Close,Volume,BBL_5_2.0,BBM_5_2.0,BBU_5_2.0,BBB_5_2.0,BBP_5_2.0
Date,,,,,,,,,,,
2018-12-14 00:00:00-05:00,262.959991,264.029999,259.850006,260.470001,241.352768,116961100,260.273304,263.900000,267.526696,2.748538,0.027118
2018-12-17 00:00:00-05:00,259.399994,260.649994,253.529999,255.360001,236.617798,165492300,254.454960,262.157999,269.861037,5.876638,0.058746
2018-12-18 00:00:00-05:00,257.200012,257.950012,253.279999,255.080002,236.358337,134515100,251.226607,260.347998,269.469389,7.007076,0.211228
2018-12-19 00:00:00-05:00,255.169998,259.399994,249.350006,251.259995,232.818741,214992800,247.704690,257.507999,267.311307,7.613984,0.181332
2018-12-20 00:00:00-05:00,249.860001,251.619995,244.649994,247.169998,229.028931,252053400,244.970973,253.867999,262.765026,7.009175,0.123582
2018-12-21 00:00:00-05:00,246.740005,249.710007,239.979996,240.699997,224.336182,255345600,238.938185,249.913998,260.889812,8.783672,0.080259
2018-12-24 00:00:00-05:00,239.039993,240.839996,234.270004,234.339996,218.408600,147311600,230.874686,245.709998,260.545309,12.075464,0.116793
2018-12-26 00:00:00-05:00,235.970001,246.179993,233.759995,246.179993,229.443680,218485400,232.210270,243.929996,255.649721,9.609089,0.595992
2018-12-27 00:00:00-05:00,242.570007,248.289993,238.960007,248.070007,231.205185,186267300,232.974418,243.291998,253.609578,8.481644,0.731547
2018-12-28 00:00:00-05:00,249.580002,251.399994,246.449997,247.750000,230.906906,153100200,232.907210,243.407999,253.908787,8.628137,0.706746

In [40]:
#plot the data in a cadle bar
spy['Date'] = pd.to_datetime(spy['Date'])
fig = go.Figure(data = [go.Candlestick(x=spy['Date'],
                                      open=spy.Open,
                                      high=spy.High,
                                      low=spy.Low,
                                      close=spy.Close
                                      )])
fig.show()

"""spy.Close.plot()
spy['BBL_5_2.0'].plot()
spy['BBM_5_2.0'].plot()
spy['BBU_5_2.0'].plot()
"""

KeyError: 'Date'